<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/admin">
<head>
<meta charset="UTF-8">
<title>Dashboard</title>
</head>
<body>
<div layout:fragment="main">
 <h1>Danh sách người dùng đang bị khóa</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Khóa đến</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.lockedUntil}"></td>
                <td>
                    <form th:action="@{'/admin/unlock-user/' + ${user.id}}" method="post">
                        <button type="submit">Mở khóa</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>